

# Forzar LF en todos los archivos de texto
* text=auto eol=lf

# Opcional: especificar tipos de archivos
*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.test text eol=lf
*.output text eol=lf
*.svg text eol=lf
*.cppm text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.lua text eol=lf
*.def text eol=lf
*.cfg text eol=lf
*.j2 text eol=lf
*.in text eol=lf