syntax: glob

*.obj
*.exe
*.o
*.a
*.lib
*.so*
*.idb
*.log
*.sdf
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
*.idb 
*.tlog
*.suo
*.orig
*.tix
.~*
*.bak
*.raw
*.dll
*.pdb
*.err
*.ai
*.d


# Files compilated
/**/CMake/.vs
/**/CMake/.vscode
/**/CMake/out
/**/CMake/Build
/output.txt
/outfile.txt